<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner text-center">
                            <h1>Duck Group</h1>
                        <h3>A Group For Ducks</h3>
                            <a target="_blank" href="https://discord.me/clubwumpus" class="btn btn-outline btn-xl page-scroll">Connect Now</a>
                            <div class="discord-widget"><img src="https://discordapp.com/api/guilds/235268156451586048/widget.png?style=shield"></div>
                        </div>
                </div>
            </div>
                        </div>
                    </div>

</header>
