<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner text-center">
                        <h1>Duck Group, A Group Made For Duckscgvhfdtghrtfhs6rtue6rtu6eruder6ueruh</h1>
                        <h2>Join The Duck Group</h2>
                        <a href="http://discord.me/duck" class="btn btn-outline btn-xl page-scroll">Discord Server</a>
                        <a href="http://steamcommunity.com/groups/Duck-Group" class="btn btn-outline btn-xl page-scroll">Steam Group</a>
                     </div>
                </div>
            </div>
<img src="http://duckgroup.xyz/best%20duck%20transparent%20square%201024.png" alt="quack" height="300" width="300">
                            </div>
                        </div>
</header>

